<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>老版报销单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../Content/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="../Content/datatables.min.css" rel="stylesheet" />
    <style>
        .loading {
            padding-left: 30%;
            padding-top: 20%;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
        }

        .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        #btn_help {
            position: fixed;
            margin-top: 200px;  
            width:100%;
        }

        .btn_help1 {
            float: right;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-click="back()">票据首页</a>
                </div>
                <div class="navbar-collapse collapse">
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div id="btn_help">
            <a ng-click="back()" class="btn btn-info btn_help1"><span class="glyphicon glyphicon-list"></span>返回单据列表</a>

        </div>
        <div class="container body-content">
            <!--加载图片-->
            <div class="loading">
                <img src="../Img/loading.gif" />
            </div>
            <div class="biaodanDiv" ng-repeat="tab in lengthTabList">
                <div class="{{tab.tabClass}}">
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" style="width:40%" ng-if="one.company =='上海悦目化妆品有限公司'">
                                    <input type="checkbox" name="vehicle" value="上海悦目化妆品有限公司" checked="checked" /> 上海悦目化妆品有限公司<br>
                                   <br>
                                    
                                </td>
                                <td scope="row" style="width:40%" ng-if="one.company =='广州悦目生物科技有限公司'">
                                   <br>
                                    <input type="checkbox" name="vehicle1" value="广州悦目生物科技有限公司" checked="checked" /> 广州悦目生物科技有限公司<br>
                                    
                                </td>
                                <td scope="row" style="width:40%" ng-if="one.company =='广东悦肌化妆品有限公司' || one.company =='广东悦肌'">
                                   <br>
                                   <br>
                                    <input type="checkbox" name="vehicle2" value="广东悦肌化妆品有限公司" checked="checked" /> 广东悦肌化妆品有限公司
                                </td>
                                <td style="width:20%">
                                    <h3><b>费用报销单</b></h3>
                                </td>
                                <td style="width:20%">
                                    <br>
                                    <img src="../../Img/login.png" alt="">
                                </td>
                                <td style="width:20%">
                                    <h4>No <span style="color:red">{{one.Id}}</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" style="width:40%">
                                    报销部门:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{one.faqibumen}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                                </td>
                                <td style="width:40%">
                                    收益部门:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{one.shouyibumen=="NULL"?"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;":one.shouyibumen}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                                </td>
                                <td style="width:20%">
                                    <u ng-bind="one.date | date:'yyyy年MM月dd日'"></u>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover" border="1" cellspacing="0" cellpadding="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:20%;">收款单位（或个人）</td>
                                <td style="width:40%">{{one.shoukuandanwei}}</td>
                                <td style="width:20%">收款银行</td>
                                <td style="width:20%">{{one.shoukuanyh}}</td>
                            </tr>
                            <tr>
                                <td style="width:20%">收款账号</td>
                                <td style="width:40%">{{one.zhanhao}}</td>
                                <td style="width:20%">预计付款日期</td>
                                <td style="width:20%">{{one.fukuanriqi}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover table-condensed" style="text-align:center;" border="1" cellspacing="0" cellpadding="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:70%;line-height:40px;" rowspan="2">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途</td>
                                <td style="width:10%" colspan="9">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额</td>
                                <td style="width:20%">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</td>
                            </tr>
                            <tr>
                                <td>百</td>
                                <td>十</td>
                                <td>万</td>
                                <td>千</td>
                                <td>百</td>
                                <td>十</td>
                                <td>元</td>
                                <td>角</td>
                                <td>分</td>

                                <td style="width:30%" rowspan="5"></td>
                            </tr>
                            <!--读取到的详细数据-->
                            <tr ng-repeat="yt in tab.tabList track by $index" style="min-height:30px">
                                <td style="width:40%;height:30px" rowspan="1">
                                    {{yt.miaoshu}}
                                </td>
                                <td ng-repeat="x1 in yt.notJineLists track by $index"></td>
                                <td ng-repeat="a1 in yt.jineList track by $index">{{a1}}</td>
                            </tr>
                            <tr>
                                <td style="width:40%;line-height:40px" rowspan="2">
                                    <span style="float:left">合计（大写）</span>{{tab.ltabJineList}}
                                </td>
                                <td ng-repeat="las in tab.notabJineList" rowspan="2"></td>
                                <td style="line-height:40px" ng-repeat="lamou in tab.tabJineList track by $index" rowspan="2">{{lamou}}</td>
                                <td>原借款&nbsp;&nbsp;￥{{one.yuzhi==""?"  &nbsp;&nbsp;&nbsp;   ":one.yuzhi}}元</td>
                            </tr>
                            <tr>
                                <td>应退/补&nbsp￥{{one.yinhuan==""?"  &nbsp;&nbsp;&nbsp;  ":one.yinhuan}}元</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-hover table-condensed" style="text-align:center;" border="1" cellspacing="0" cellpadding="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:11%;line-height:40px;">会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计</td>
                                <td style="width:11%;line-height:40px;">总经理</td>
                                <td style="width:11%;line-height:40px;">财务总监</td>
                                <td style="width:11%;line-height:40px;">财务经理</td>
                                <td style="width:11%;">收益部门负责人</td>
                                <td style="width:11%;">收益部门经理</td>
                                <td style="width:11%;">报销部门负责人</td>
                                <td style="width:11%;">报销部门经理</td>
                                <td style="width:11%;line-height:40px;">经手人</td>
                            </tr>
                            <tr style="font:1 16px FangSong">
                                <td></td>
                                <td>{{zjl.name}}<br />{{zjl.create_date| date:'yyyy.mm.dd'}}</td>
                                <td>{{cwzj.name}}<br />{{cwzj.create_date| date:'yyyy.mm.dd'}}</td>
                                <td>{{cwjl.name}}<br />{{cwjl.create_date| date:'yyyy.mm.dd'}}</td>
                                <td>{{syfzr.name}}<br />{{syfzr.create_date | date:'yyyy.mm.dd'}}</td>
                                <td>{{syjl.name}}<br />{{syjl.create_date | date:'yyyy.MM.dd'}}</td>
                                <td>{{sqfzr.name}}<br />{{sqfzr.create_date | date:'yyyy.MM.dd'}}</td>
                                <td>{{sqjl.name}}<br />{{sqjl.create_date | date:'yyyy.MM.dd'}}</td>
                                <td>{{one.faqiren}} <br />{{one.date | date:'yyyy.MM.dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button ng-click="dayin(tab.tabClass)" class="btn btn-success"><span class="glyphicon glyphicon-print"></span>确认打印</button>

            </div>
            <hr />
            <footer>
                <p>&copy;单据开票</p>
            </footer>
        </div>
        <script src="../Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
        <script src="../Scripts/angular.min.js"></script>
        <script type="text/javascript" language="javascript">
            var app = angular.module('myApp', []);
            app.config(['$locationProvider', function ($locationProvider) {
                // $locationProvider.html5Mode(true);
                $locationProvider.html5Mode({
                    enabled: true,
                    requireBase: false
                });
            }]);
            app.controller('myCtrl', function ($scope, $http, $location) {
                $scope.condition = { Id: $location.search().Id, type: $location.search().type };

                $scope.getList = function (condition) {
                    $(".loading").css("display", "block");
                    console.log("开始");
                    $http({
                        method: 'Post',
                        url: '../api/List/getList',
                        // params: search
                        data: condition
                    }).success(function (data) {
                        $(".loading").css("display", "none");
                        $scope.getProcessList(data[0]);
                        $scope.one = data[0];
                        $scope.one.lAmountList = parseFloat($scope.one.lAmount).toFixed(2).toString().replace(".", "").split("");
                        $scope.one.date = new Date($scope.one.chuangjinshijin);
                        //将金额分解
                        $scope.notlAmountList = "";
                        for (var i = 0; i < 9 - $scope.one.lAmountList.length; i++) {

                            $scope.notlAmountList += i.toString();
                        }
                        $scope.one.notlAmountList = $scope.notlAmountList.split("");
                        console.log("开始1");
                        $scope.gerDetail($scope.one);
                    }).error(function (msg) {
                        window.location.href = "./Home/error";
                    })
                }
                $scope.getList($scope.condition);
                //读取详细明细
                $scope.gerDetail = function (data) {
                    $http({
                        method: 'Post',
                        url: '../api/List/getDetail',
                        data: data
                    }).success(function (data) {
                        $scope.list = data.list;//获取明细
                        var listlength = $scope.list.length % 4;//获取数量
                        /*将金额用途分成四行，有的则用金额用途遍历，没有的用空值替换*/
                        if (listlength != 0) {//不是4条的倍数遍历添加成4条的倍数
                            for (var i = 0; i < 4 - listlength; i++) {
                                $scope.list.push({ miaoshu: '', xianqing: '', jine: '.', shijin: '' });//添加一条空数据
                            }
                        }
                        /*将金额分成单个字符放入对应的文本中，前面不足的用空值替换*/
                        $scope.lengthTabList = [];
                        $scope.temporaryTab = [];//临时表
                        $scope.lengthTab = Number($scope.list.length / 4) + ($scope.list.length % 4 > 0 ? 1 : 0);//需要几个单据
                        for (var i = 0; i < $scope.list.length; i++) {
                            $scope.list[i].jineList = $scope.list[i].jine.replace(".", "").split("");
                            $scope.notJineList = "";
                            for (var j = 0; j < 9 - $scope.list[i].jineList.length; j++) {
                                $scope.notJineList += j.toString();
                            }
                            $scope.list[i].notJineLists = $scope.notJineList.split("");
                            $scope.temporaryTab.push($scope.list[i]);
                            if (i % 4 == 3) {//添加
                                var tabJine = 0;
                                for (var tem in $scope.temporaryTab) {
                                    if (Number($scope.temporaryTab[tem].jine).toString() != "NaN") {
                                        tabJine = parseFloat(tabJine) + parseFloat($scope.temporaryTab[tem].jine);
                                    }
                                    var tabJineList = parseFloat(tabJine).toFixed(2).toString().replace(".", "").split("");//将此表单的金额总和分解成每个单位
                                    var notabJineList = "";
                                    for (var j = 0; j < 9 - tabJineList.length; j++) {
                                        notabJineList += j.toString();
                                    }
                                }
                                $scope.lengthTabList.push({
                                    tabClass: "tab" + i, tabList: $scope.temporaryTab, tabJine: tabJine, ltabJineList:
                                 $scope.daxieJine(parseFloat(tabJine).toFixed(2)),
                                    tabJineList: tabJineList,
                                    notabJineList: notabJineList.split("")
                                })//添加到表中
                                $scope.temporaryTab = [];//清空临时表
                            }
                        }
                    }).error(function (msg) {
                        console.log(msg);

                    })

                }
                $scope.getProcessList = function (datas) {
                    $http({
                        method: 'Post',
                        url: '../api/List/getProcess',
                        data: { col_id: datas.colId }
                    }).success(function (data) {
                        console.log(data);
                        $scope.sqjl = ""//申请部门经理
                        $scope.sqfzr = "";
                        $scope.syjl = "";
                        $scope.syfzr = "";
                        $scope.cwjl = "";
                        $scope.cwzj = "";
                        $scope.zjl = "";
                        $scope.cn = "";
                    }).error(function (msg) {
                        console.log(msg);

                    })

                }
                $scope.dayin = function (divId) {
                    var k = $("." + divId).prop("outerHTML");
                    $("body *").hide();
                    $("body").append(k);
                    window.print();
                    $("body *").show();
                    $("body ." + divId + ":last").remove();
                    $(".loading").css("display", "none");
                }
                $scope.daxieJine = function (Num) {
                    //如果输入的不是数字，则将其设置为空
                    // this.value = this.value.replace(/[^\d\.]/g, '').replace(/^0/, '');
                    // var Num = this.value;
                    if (Num == "") {
                        //输入框删减为空时，将大写金额的内容值设为原始状态，当然也可以根据需求进行修改
                        return "零元整";
                        return false;
                    }
                    part = String(Num).split(".");
                    newchar = "";
                    for (i = part[0].length - 1; i >= 0; i--) {
                        if (part[0].length > 10) {
                            alert("位数过大，无法计算");//前面如果有验证位数的，此处判断可去掉
                            return "";
                        }
                        tmpnewchar = ""
                        perchar = part[0].charAt(i);
                        switch (perchar) {
                            case "0": tmpnewchar = "零" + tmpnewchar; break;
                            case "1": tmpnewchar = "壹" + tmpnewchar; break;
                            case "2": tmpnewchar = "贰" + tmpnewchar; break;
                            case "3": tmpnewchar = "叁" + tmpnewchar; break;
                            case "4": tmpnewchar = "肆" + tmpnewchar; break;
                            case "5": tmpnewchar = "伍" + tmpnewchar; break;
                            case "6": tmpnewchar = "陆" + tmpnewchar; break;
                            case "7": tmpnewchar = "柒" + tmpnewchar; break;
                            case "8": tmpnewchar = "捌" + tmpnewchar; break;
                            case "9": tmpnewchar = "玖" + tmpnewchar; break;
                        }
                        switch (part[0].length - i - 1) {
                            case 0: tmpnewchar = tmpnewchar + "元"; break;
                            case 1: if (perchar != 0) tmpnewchar = tmpnewchar + "拾"; break;
                            case 2: if (perchar != 0) tmpnewchar = tmpnewchar + "佰"; break;
                            case 3: if (perchar != 0) tmpnewchar = tmpnewchar + "仟"; break;
                            case 4: tmpnewchar = tmpnewchar + "万"; break;
                            case 5: if (perchar != 0) tmpnewchar = tmpnewchar + "拾"; break;
                            case 6: if (perchar != 0) tmpnewchar = tmpnewchar + "佰"; break;
                            case 7: if (perchar != 0) tmpnewchar = tmpnewchar + "仟"; break;
                            case 8: tmpnewchar = tmpnewchar + "亿"; break;
                            case 9: tmpnewchar = tmpnewchar + "拾"; break;
                        }
                        newchar = tmpnewchar + newchar;
                    }
                    if (Num.indexOf(".") != -1) {
                        if (part[1].length > 2) {
                            part[1] = part[1].substr(0, 2)
                        }
                        for (i = 0; i < part[1].length; i++) {
                            tmpnewchar = ""
                            perchar = part[1].charAt(i)
                            switch (perchar) {
                                case "0": tmpnewchar = "零" + tmpnewchar; break;
                                case "1": tmpnewchar = "壹" + tmpnewchar; break;
                                case "2": tmpnewchar = "贰" + tmpnewchar; break;
                                case "3": tmpnewchar = "叁" + tmpnewchar; break;
                                case "4": tmpnewchar = "肆" + tmpnewchar; break;
                                case "5": tmpnewchar = "伍" + tmpnewchar; break;
                                case "6": tmpnewchar = "陆" + tmpnewchar; break;
                                case "7": tmpnewchar = "柒" + tmpnewchar; break;
                                case "8": tmpnewchar = "捌" + tmpnewchar; break;
                                case "9": tmpnewchar = "玖" + tmpnewchar; break;
                            }
                            if (i == 0) tmpnewchar = tmpnewchar + "角";
                            if (i == 1) tmpnewchar = tmpnewchar + "分";
                            newchar = newchar + tmpnewchar;
                        }
                    }
                    while (newchar.search("零元") != -1) {
                        newchar = newchar.replace("零零", "零");
                        newchar = newchar.replace("零亿", "亿");
                        newchar = newchar.replace("亿万", "亿");
                        newchar = newchar.replace("零万", "万");
                        newchar = newchar.replace("零元", "元");
                        newchar = newchar.replace("零角", "");
                        newchar = newchar.replace("零分", "");
                    }
                    if (newchar.charAt(newchar.length - 1) == "元" || newchar.charAt(newchar.length - 1) == "角") {
                        newchar = newchar + "整";
                    }
                    return newchar;
                }
                $scope.back = function () {
                    // window.location.href = "./index.html";
                    window.location.replace("./index.html");
                }
            })
        </script>
       
    </div>
</body>
</html>
