<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>费&nbsp;用&nbsp;报&nbsp;销&nbsp;单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="../Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../Content/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="../Content/datatables.min.css" rel="stylesheet" />
    <link href="../Content/sweetalert2.min.css" rel="stylesheet" />
    <link href="../bootstrp-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <style>
        .loading {
            padding-left: 30%;
            padding-top: 20%;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
        }

        .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            margin-right: 8px;
        }

        #btn_help {
            position: fixed;
            margin-top: 200px;
            width: 100%;
        }

        .form-control1 {
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 0px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .btn_help1 {
            float: right;
        }
        /* 布局纵向 */
        .a4-endwise {
            width: 1075px;
            height: 1567px;
            border: 1px #000 solid;
            overflow: hidden;
            padding: 0;
            word-break: break-all;
        }
        /* 布局横向 */
        .a4-broadwise {
            width: 1569px;
            height: 1073px;
            border: 1px #000 solid;
            overflow: hidden;
            padding: 0;
            word-break: break-all;
        }

        .tables {
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
    </style>

</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-click="back()">票据首页</a>
                </div>
                <div class="navbar-collapse collapse">
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div id="btn_help">
        </div>
        <div class="container body-content">
            <div id="chunaDiv">
                <a ng-click="back()" class="btn btn-info btn_help1"> <span class="glyphicon glyphicon-list"></span>返回单据列表</a>
            </div>
            <br />
            <br />
            <!--加载图片-->
            <div class="loading">
                <img src="../Img/loading.gif" />
            </div>
            <div class="biaodanDiv" ng-repeat="tab in one.piaoju">
                <!--startprint-->
                <div class="{{tab.tabClass}}">
                    <table class="table tables">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:35%">
                                    <input type="checkbox" name="vehicle" value="one.company" checked="checked" />
                                    <span style="font-size:12px">{{one.company}}</span>
                                    <br>
                                </td>
                                <td style="width:30%">
                                    <h2><b>费&nbsp;用&nbsp;报&nbsp;销&nbsp;单</b></h2>
                                </td>
                                <td style="width:15%">
                                    <br>
                                    <img src="../../Img/login.png" alt="">
                                </td>
                                <td style="width:20%">
                                    <h4 style="font-size:12px">No <span style="color:red">{{one.liuShui}}</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table tables">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:35%">
                                    报销部门:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{one.faqibumen}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                                </td>
                                <td style="width:45%">
                                    收益部门:<u>{{one.shouyibumen=="NULL"?"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;":one.shouyibumen}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                                </td>
                                <td style="width:20%">
                                    <u ng-bind="one.date | date:'yyyy年MM月dd日'"></u>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover tables" border="1" cellspacing="0" cellpadding="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:20%;">收款单位（或个人）</td>
                                <td style="width:40%">{{one.shoukuandanwei}}</td>
                                <td style="width:20%">收款银行</td>
                                <td style="width:20%">{{one.shoukuanyh}}</td>
                            </tr>
                            <tr>
                                <td style="width:20%">收款账号</td>
                                <td style="width:40%">{{one.zhanhao}}</td>
                                <td style="width:20%">预计付款日期</td>
                                <td style="width:20%">{{one.fukuanriqi | date:'yyyy/MM/dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover table-condensed" style="text-align:center;" border="1" cellspacing="0" cellpadding="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:70%;line-height:40px;" rowspan="2">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途</td>
                                <td style="width:10%" colspan="12">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额</td>
                                <td style="width:20%">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</td>
                            </tr>
                            <tr>
                                <td>十</td>
                                <td>亿</td>
                                <td>千</td>
                                <td>百</td>
                                <td>十</td>
                                <td>万</td>
                                <td>千</td>
                                <td>百</td>
                                <td>十</td>
                                <td>元</td>
                                <td>角</td>
                                <td>分</td>
                                <td style="width:30%" rowspan="5"></td>
                            </tr>
                            <!--读取到的详细数据-->
                            <tr ng-repeat="yt in tab.Detail track by $index" style="min-height:30px">
                                <td style="width:40%;height:30px" rowspan="1">
                                    {{yt.miaoshu}}
                                </td>
                                <td ng-repeat="a1 in yt.jineList track by $index">{{a1}}</td>
                            </tr>
                            <tr>
                                <td style="width:40%;line-height:40px" rowspan="2">
                                    <span style="float:left">合计（大写）</span>{{tab.cAmount}}
                                </td>
                                <td style="line-height:40px" ng-repeat="lamou in tab.lAmountList track by $index" rowspan="2">
                                    {{lamou}}
                                </td>
                                <td style="font-size:12px">原借款￥{{tab.yuzhijine}}元</td>
                            </tr>
                            <tr>
                                <td style="font-size:12px">应退/补￥{{tab.yinhuan}}元</td>
                            </tr>


                        </tbody>
                    </table>
                    <table class="table table-bordered tables" style="text-align:center;" border="1" cellspacing="0" cellpadding="0">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:10%;line-height:35px;font-size:12px;">会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">总经理</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">财务总监</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">财务经理</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">收益部门负责人</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">收益部门经理</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">报销部门负责人</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">报销部门经理</td>
                                <td style="width:10%;line-height:35px;font-size:12px;">经手人</td>
                            </tr>
                            <tr style="font:1 12px FangSong">
                                <td></td>
                                <td>{{zjl.name}}<br />{{zjl.create_date| date:'yyyy/MM/dd'}}</td>
                                <td>{{cwzj.name}}<br />{{cwzj.create_date| date:'yyyy/MM/dd'}}</td>
                                <td>{{cwjl.name}}<br />{{cwjl.create_date| date:'yyyy/MM/dd'}}</td>
                                <td>{{caiwu.name}}<br />{{caiwu.create_date | date:'yyyy/MM/dd'}}</td>
                                <td>{{syfzr.name}}<br />{{syfzr.create_date | date:'yyyy/MM/dd'}}</td>
                                <td>{{syjl.name}}<br />{{syjl.create_date | date:'yyyy/MM/dd'}}</td>
                                <td>{{sqfzr.name}}<br />{{sqfzr.create_date | date:'yyyy/MM/dd'}}</td>
                                <td>{{sqjl.name}}<br />{{sqjl.create_date | date:'yyyy/MM/dd'}}</td>
                                <td>{{one.faqiren}} <br />{{one.date | date:'yyyy/MM/dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--endprint-->

                <button ng-click="dayin(tab.tabClass)" class="btn btn-success"><span class="glyphicon glyphicon-print"></span>确认打印</button>

            </div>
            <hr />
            <footer>
                <p>&copy;单据开票</p>
            </footer>
        </div>
        <script src="../Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
        <script src="../Scripts/angular.min.js"></script>
        <script src="../Scripts/sweetalert2.min.js"></script>

        <script src="../bootstrp-select/js/bootstrap-select.min.js"></script>
        <script src="../bootstrp-select/js/i18n/defaults-zh_CN.min.js"></script>
        <script type="text/javascript" language="javascript">
            var app = angular.module('myApp', []);
            app.config(['$locationProvider', function ($locationProvider) {
                // $locationProvider.html5Mode(true);
                $locationProvider.html5Mode({
                    enabled: true,
                    requireBase: false
                });
            }]);
            app.controller('myCtrl', function ($scope, $http, $location) {
                
                /* 递归*/
                $scope.pad2 = function (num, n) {
                    if ((num + "").length >= n) return num;
                    return $scope.pad2(" " + num, n);
                }
                $scope.condition = { Id: $location.search().Id, type: $location.search().type };//, start:1
                $scope.getList = function (condition) {
                    $(".loading").css("display", "block");
                    $http({
                        method: 'Post',
                        url: '../api/List/getList',
                        // params: search
                        data: condition
                    }).success(function (data) {
                        if (data.length == 0) {
                            $(".loading").css("display", "none");
                            return;
                        }
                        $scope.getProcessList(data[0]);
                        $scope.one = data[0];
                        $scope.one.yuzhiShengyu = isNaN(parseFloat($scope.one.yuzhi)) ? 0 : parseFloat($scope.one.yuzhi);//可变的预支金额

                        var dates = new Date($scope.one);
                        $scope.one.fukuanriqi = new Date($scope.one.fukuanriqi.replace(/-/g, "/"));
                        $scope.one.piaoju = [];
                        $scope.one.date = new Date($scope.one.chuangjinshijin);
                        //将金额分解
                        $scope.gerDetail($scope.one);
                        $(".loading").css("display", "none");
                    }).error(function (msg) {
                        $(".loading").css("display", "none");
                    })
                }
                $scope.getList($scope.condition);
                //读取详细明细
                $scope.gerDetail = function (datas) {
                    $http({
                        method: 'Post',
                        url: '../api/List/getDetail',
                        data: datas
                    }).success(function (data) {
                        console.log($scope.one);
                        while (true) {
                            if (data.list.length % 4 != 0) {
                                data.list.push({ miaoshu: '', xianqing: '', jine: '.', shijin: '', kemu: '', jineList: [] });//添加一条空数据
                            }
                            else {
                                break;
                            }
                        }
                        var yuzhijine = 0;
                        var yinhuan = 0;
                        var piaojuId = 0;
                        var lAmount = 0;
                        var piaojuDetail = [];
                        for (var t in data.list) {
                            var jine=data.list[t].jine.replace(".", "");
                            if(jine!=""){
                                jine="￥"+jine;
                            }
                            else{
                                jine=" "+jine;
                            }
                            if (!isNaN(parseFloat(data.list[t].jine))) {
                                lAmount += parseFloat(data.list[t].jine);
                            }
                            data.list[t].jineList = ($scope.pad2(jine, 12)).split("")
                            piaojuDetail.push(data.list[t]);
                            if ((parseInt(t) + 1) % 4 == 0) {
                                piaojuId++;
                                if (lAmount > $scope.one.yuzhiShengyu) {
                                    yinhuan = lAmount - $scope.one.yuzhiShengyu;
                                    yuzhijine = $scope.one.yuzhiShengyu;
                                    $scope.one.yuzhiShengyu=0;
                                }
                                else {
                                    yuzhijine = lAmount;
                                    yinhuan = 0;
                                    $scope.one.yuzhiShengyu -= lAmount;
                                }
                                var lAmounts = "";
                                if (lAmount != 0) {
                                    lAmounts = "￥" + lAmount.toFixed(2).replace(".", "");
                                }
                                else {
                                    lAmounts = " " + lAmount.toFixed(2).replace(".", "");
                                }
                                $scope.one.piaoju.push({
                                    tabClass: "tab" + piaojuId,
                                    yuzhijine: yuzhijine,
                                    yinhuan: yinhuan,
                                    Detail: piaojuDetail,
                                    lAmount: lAmount,
                                    lAmountList: ($scope.pad2(lAmounts, 12)).split(""),
                                    cAmount: $scope.daxieJine(lAmount.toFixed(2)),
                                });
                                lAmount = 0;
                                piaojuDetail = [];
                                console.log($scope.one.piaoju);
                            }
                        }
                        

                       /* if (data.length == 0) {
                            return;
                        }
                        $scope.list = [];//获取明细
                        for (var t in data.list) {
                            $scope.list.push(data.list[t]);
                        }
                        $scope.one.list = data.list;//直接赋值给大类，然后提交的时候再遍历提交
                        var listlength = $scope.list.length % 4;//获取数量
                        //将金额用途分成四行，有的则用金额用途遍历，没有的用空值替换
                        if (listlength != 0) {//不是4条的倍数遍历添加成4条的倍数
                            for (var i = 0; i < 4 - listlength; i++) {
                                $scope.list.push({ miaoshu: '', xianqing: '', jine: '.', shijin: '', kemu: '', jineList:[] });//添加一条空数据
                            }
                        }
                        //将金额分成单个字符放入对应的文本中，前面不足的用空值替换
                        $scope.lengthTabList = [];
                        $scope.temporaryTab = [];//临时表
                        $scope.lengthTab = Number($scope.list.length / 4) + ($scope.list.length % 4 > 0 ? 1 : 0);//需要几个单据
                        for (var i = 0; i < $scope.list.length; i++) {
                            $scope.list[i].jineList = $scope.list[i].jine.replace(".", "").split("");
                            $scope.notJineList = "";
                            var jineListlength = $scope.list[i].jineList.length;
                            for (var j = 0; j < 12 - jineListlength; j++) {
                                if (j == 10) {
                                    $scope.notJineList += "x";
                                }
                               else if (j == 11) {
                                    $scope.notJineList += "y";
                                }
                                else {
                                    $scope.notJineList += j.toString();
                                }
                            }
                            $scope.list[i].notJineLists = $scope.notJineList.split("");
                            $scope.temporaryTab.push($scope.list[i]);
                            if (i % 4 == 3) {//添加
                                var tabJine = 0;
                                for (var tem in $scope.temporaryTab) {
                                    if (Number($scope.temporaryTab[tem].jine).toString() != "NaN") {
                                        tabJine = parseFloat(tabJine) + parseFloat($scope.temporaryTab[tem].jine);
                                    }
                                    var tabJineList = parseFloat(tabJine).toFixed(2).toString().replace(".", "").split("");//将此表单的金额总和分解成每个单位
                                    var notabJineList = "";
                                    for (var j = 0; j < 12 - tabJineList.length; j++) {
                                        notabJineList += j.toString();
                                    }
                                }
                                //var $scope.one.lAmount - tabJine
                                //预支金额计算
                                var yuzhijine = 0;//该票据的预支金额
                                var yinhuan = 0;//该票据的付款金额
                                $scope.one.yuzhiShengyu = $scope.one.yuzhiShengyu == null || $scope.one.yuzhiShengyu == "" ? "0" : $scope.one.yuzhiShengyu
                                var yuzhi = parseFloat($scope.one.yuzhiShengyu);
                                if (yuzhi >= tabJine) {
                                    yuzhijine = tabJine;
                                    $scope.one.yuzhiShengyu = (yuzhi - tabJine) + "";
                                    yinhuan = 0;
                                }
                                else {//预支金额小于付款金额
                                    yuzhijine = yuzhi;
                                    yinhuan = tabJine - yuzhi;
                                    $scope.one.yuzhiShengyu = 0 + "";//预支完了
                                }

                                $scope.lengthTabList.push({
                                    tabClass: "tab" + i, tabList: $scope.temporaryTab, tabJine: tabJine, ltabJineList:
                                        $scope.daxieJine(parseFloat(tabJine).toFixed(2)),
                                    tabJineList: tabJineList,
                                    notabJineList: notabJineList.split(""),
                                    yuzhijine: yuzhijine,
                                    yinhuan: yinhuan,
                                })//添加到表中
                                $scope.one.piaoju.push({
                                    tabClass: "tab" + i,
                                    yuzhijine: yuzhijine,
                                    yinhuan: yinhuan,
                                    Detail: $scope.temporaryTab
                                });
                                $scope.temporaryTab = [];//清空临时表
                            }
                        }*/
                    }).error(function (msg) {
                        console.log(msg);

                    })

                }
                //读取流程签字
                $scope.getProcessList = function (datas) {
                    $http({
                        method: 'Post',
                        url: '../api/List/getProcess',
                        data: { col_id: datas.colId }
                    }).success(function (data) {
                        console.log(data);
                        $scope.sqjl = data[0];
                        $scope.sqfzr = data[1];
                        $scope.syjl = data[2];
                        $scope.syfzr = data[3];
                        $scope.caiwu = data[4];
                        $scope.cwjl = data[5];
                        $scope.cwzj = data[6];
                        $scope.zjl = data[7];
                        $scope.cn = data[8];
                        if ($scope.one.lAmount < 100000) {
                            $scope.zjl = "";
                        }
                    }).error(function (msg) {
                        console.log(msg);

                    })

                }
                

                //打印单据
                $scope.dayin = function (divId) {
                    $(".selectKemu").hide();
                    $(".shouyibumenSun").hide();
                    var k = $("." + divId).prop("outerHTML");
                    $("body *").hide();
                    $("body").append(k);
                    window.print();
                    window.location.reload();

                }
                //大写金额设置
                $scope.daxieJine = function (Num) {
                    //如果输入的不是数字，则将其设置为空
                    // this.value = this.value.replace(/[^\d\.]/g, '').replace(/^0/, '');
                    // var Num = this.value;
                    if (Num == "") {
                        //输入框删减为空时，将大写金额的内容值设为原始状态，当然也可以根据需求进行修改
                        return "零元整";
                        return false;
                    }
                    part = String(Num).split(".");
                    newchar = "";
                    for (i = part[0].length - 1; i >= 0; i--) {
                        if (part[0].length > 10) {
                            alert("位数过大，无法计算");//前面如果有验证位数的，此处判断可去掉
                            return "";
                        }
                        tmpnewchar = ""
                        perchar = part[0].charAt(i);
                        switch (perchar) {
                            case "0": tmpnewchar = "零" + tmpnewchar; break;
                            case "1": tmpnewchar = "壹" + tmpnewchar; break;
                            case "2": tmpnewchar = "贰" + tmpnewchar; break;
                            case "3": tmpnewchar = "叁" + tmpnewchar; break;
                            case "4": tmpnewchar = "肆" + tmpnewchar; break;
                            case "5": tmpnewchar = "伍" + tmpnewchar; break;
                            case "6": tmpnewchar = "陆" + tmpnewchar; break;
                            case "7": tmpnewchar = "柒" + tmpnewchar; break;
                            case "8": tmpnewchar = "捌" + tmpnewchar; break;
                            case "9": tmpnewchar = "玖" + tmpnewchar; break;
                        }
                        switch (part[0].length - i - 1) {
                            case 0: tmpnewchar = tmpnewchar + "元"; break;
                            case 1: if (perchar != 0) tmpnewchar = tmpnewchar + "拾"; break;
                            case 2: if (perchar != 0) tmpnewchar = tmpnewchar + "佰"; break;
                            case 3: if (perchar != 0) tmpnewchar = tmpnewchar + "仟"; break;
                            case 4: tmpnewchar = tmpnewchar + "万"; break;
                            case 5: if (perchar != 0) tmpnewchar = tmpnewchar + "拾"; break;
                            case 6: if (perchar != 0) tmpnewchar = tmpnewchar + "佰"; break;
                            case 7: if (perchar != 0) tmpnewchar = tmpnewchar + "仟"; break;
                            case 8: tmpnewchar = tmpnewchar + "亿"; break;
                            case 9: tmpnewchar = tmpnewchar + "拾"; break;
                        }
                        newchar = tmpnewchar + newchar;
                    }
                    if (Num.indexOf(".") != -1) {
                        if (part[1].length > 2) {
                            part[1] = part[1].substr(0, 2)
                        }
                        for (i = 0; i < part[1].length; i++) {
                            tmpnewchar = ""
                            perchar = part[1].charAt(i)
                            switch (perchar) {
                                case "0": tmpnewchar = "零" + tmpnewchar; break;
                                case "1": tmpnewchar = "壹" + tmpnewchar; break;
                                case "2": tmpnewchar = "贰" + tmpnewchar; break;
                                case "3": tmpnewchar = "叁" + tmpnewchar; break;
                                case "4": tmpnewchar = "肆" + tmpnewchar; break;
                                case "5": tmpnewchar = "伍" + tmpnewchar; break;
                                case "6": tmpnewchar = "陆" + tmpnewchar; break;
                                case "7": tmpnewchar = "柒" + tmpnewchar; break;
                                case "8": tmpnewchar = "捌" + tmpnewchar; break;
                                case "9": tmpnewchar = "玖" + tmpnewchar; break;
                            }
                            if (i == 0) tmpnewchar = tmpnewchar + "角";
                            if (i == 1) tmpnewchar = tmpnewchar + "分";
                            newchar = newchar + tmpnewchar;
                        }
                    }
                    while (newchar.search("零元") != -1) {
                        newchar = newchar.replace("零零", "零");
                        newchar = newchar.replace("零亿", "亿");
                        newchar = newchar.replace("亿万", "亿");
                        newchar = newchar.replace("零万", "万");
                        newchar = newchar.replace("零元", "元");
                        newchar = newchar.replace("零角", "");
                        newchar = newchar.replace("零分", "");
                    }
                    if (newchar.charAt(newchar.length - 1) == "元" || newchar.charAt(newchar.length - 1) == "角") {
                        newchar = newchar + "整";
                    }
                    return newchar;
                }
                //返回列表
                $scope.back = function () {
                    window.location.replace("./userIndex.html");
                }

            })
        </script>
    </div>
</body>
</html>
